<mat-card class="balance-overview" fxLayoutWrap fxLayoutGap="3%">
  <div class="balance-item" fxFlex="20">
    <app-balance type="total_balance"></app-balance>
  </div>
  <div class="balance-item" fxFlex="17">
    <app-balance type="balance"></app-balance>
  </div>
  <div class="balance-item" fxFlex="17">
    <app-balance type="blind_balance"></app-balance>
  </div>
  <div *ngIf="testnet" class="balance-item" fxFlex="17">
    <app-balance type="anon_balance"></app-balance>
  </div>
  <div class="balance-item" fxFlex="17">
    <app-balance type="staked_balance"></app-balance>
  </div>
</mat-card>


<div class="overview-content" fxLayout.gt-lg="row" fxLayout.lt-md="column"  fxLayoutGap="40px">

  <div class="recent-transactions" fxFlex="67" fxFlexOrder.lt-md="2">
    <app-header>
      <ul class="header-nav">
        <li>Recent Transactions</li>
      </ul>
    </app-header>
    <transaction-table
      [display]="{'txDisplayAmount': 5, 'header': false, 'internalHeader': true, 'category': true, 'confirmations': true}">
    </transaction-table>
  </div><!-- .recent-transactions -->


  <div class="overview-sidebar" fxFlex="33" fxLayoutWrap fxLayoutAlign="center start" fxFlexOrder.lt-md="1" >

    <!--<app-stakinginfo fxFlex.gt-sm="100" fxFlex.lt-md="calc(50% - 25px)"></app-stakinginfo>-->
    <!--<app-coldstake fxFlex.gt-sm="100" fxFlex.lt-md="calc(50% - 25px)"></app-coldstake>-->

  </div><!-- .overview-sidebar -->


</div><!-- .overview-content -->
